@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.react-grid-item > .react-resizable-handle,
.react-grid-item > .react-resizable-handle-se,
.react-grid-item > .react-resizable-handle-e,
.react-grid-item > .react-resizable-handle-s {
  position: absolute;
  z-index: 40;
  pointer-events: auto;
  background: none !important;
  background-image: none !important;
  border: 0;
}

.react-grid-item > .react-resizable-handle-se {
  width: 16px;
  height: 16px;
  right: 6px;
  bottom: 6px;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle-e {
  top: 8px;
  bottom: 22px;
  right: 0;
  width: 8px;
  cursor: e-resize;
}

.react-grid-item > .react-resizable-handle-s {
  left: 8px;
  right: 22px;
  bottom: 0;
  height: 8px;
  cursor: s-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: none !important;
}
